* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    text-align: center;
    background-color: #fff;
    color: #555;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    min-height: 1000px;
}


body {
    background-image: url(just-waves%20copy.jpg);
}

header {
    text-align: center;
}

.ss-row {
    max-width: 1200px;
    margin: 0 auto;
}


.wrapper {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.weather-card {
    position: relative;
    text-align: center;
    position: relative;  
    border-radius: 20px;
    width: 300px;
    height: 300px;
}

h1 {
    margin-top: 20px;
    font-size: 350%;
}

.photo-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 30;
}



i {
    font-size: 400%;
    margin-bottom: 10px;
}




/*
.background-photo{
    width: 300px;
    height: 400px;
    border-radius: 5px;
}
*/

.button {
    width:60px;
    height: 60px;
    border-style: none;
}

.city-name {
    justify-content: center;
    font-weight: bold;
    font-size: 120%;
    margin-left: 5px;
    margin-right: 5px;

}

.city-temp {
    margin-top: 10px;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}

.weather-description {
    margin-top: 10px;
    font-weight: 300;
    font-size: 120%;
}

.header-search-button {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    

}

.button {
    background-color: #fff;
    border: 1px solid #62cded;
    border-radius: 50%;
    text-align: center;
}

input {
    min-width: 300px;
    min-height: 30px;
    font-size: 110%;
    margin-top:15px;
    border: 1px solid #62cded;
}
